In [139]:
import numpy as np
import pandas as pd

In [140]:
df = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('abcd'))
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

In [141]:
df['a'] = list(range(6))
df1['A'] = list(range(10,16))

In [142]:
df, df1

(   a         b         c         d
 a  0 -0.871054  0.094408  0.779234
 b  1 -1.580107 -0.011279 -0.145122
 c  2 -0.924758  0.070814 -1.655787
 d  3  0.218448  0.112715 -0.284896
 e  4  2.497462  0.116598 -1.187155
 f  5  1.992946 -0.132517  2.156043,
     A         B         C         D
 a  10 -1.226565  1.103883 -1.793936
 b  11 -0.699785 -0.942704  0.944308
 c  12  0.345625  0.478340  0.876600
 d  13  0.905123 -0.930261 -0.167408
 e  14  1.960747  0.642678 -0.355652
 f  15 -1.111852  0.464430 -0.604602)

In [176]:
df.loc[ ::-1 , ::2]

   a         c
f  5 -0.132517
e  4  0.116598
d  3  0.112715
c  2  0.070814
b  1 -0.011279
a  0  0.094408

In [177]:
df3 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [2, 3, 4]})

In [270]:
df3.sample(n=2)

   col1  col2
2     3     4
0     1     2